* text=auto
*.gd text eol=lf
*.gdshader text eol=lf
*.tscn text eol=lf
*.godot text eol=lf
*.import text eol=lf
*.uid text eol=lf
*.md text eol=lf
*.json text eol=lf
*.gltf text eol=lf
*.mjs text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.glb binary
*.wav binary
*.png binary
